<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.divercity.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DivercityApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".features.splash.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c89b5c30f080c86af49acf814d51cac090ea41f9" />

        <activity
            android:name=".features.home.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".features.login.step1.EnterEmailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".features.signup.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".features.login.step2.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectusertype.SelectUserTypeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.profileprompt.ProfilePromptActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectschool.SelectSchoolActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectgroups.SelectGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectbirthdate.SelectBirthdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.company.onboarding.OnboardingCompanyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectcountry.SelectCountryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectethnicity.SelectEthnicityActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectgender.SelectGenderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectindustry.SelectIndustryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectinterests.SelectInterestsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectmajor.SelectMajorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectoccupation.SelectOccupationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.linkedin.LinkedinActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.jobposting.JobPostingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.location.withtoolbar.ToolbarLocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.company.withtoolbar.ToolbarCompanyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.jobposting.jobtype.JobTypeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

    </application>

</manifest>