<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.divercity.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".DivercityApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".features.splash.SplashActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data android:scheme="diverqa" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="divercity.app.link" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".services.DivercityMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_keA3IM7wgh8U91d2QrdYSfkpuAbWIFY5" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_mnz9VV7tghZHZ1bWJvfXKcolyBaWJGij" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />

        <!-- Branch install referrer tracking -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Activities-->

        <activity
            android:name=".features.home.HomeActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".features.login.step1.EnterEmailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".features.signup.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".features.login.step2.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectusertype.SelectUserTypeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.profileprompt.ProfilePromptActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectschool.SelectSchoolActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.onboarding.SelectGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".features.agerange.onboarding.OnboardingAgeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.company.selectcompany.onboarding.OnboardingCompanyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.location.onboarding.OnboardingLocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.ethnicity.onboarding.OnboardingEthnicityActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.gender.onboarding.OnboardingGenderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectinterests.SelectInterestsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectmajor.SelectMajorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectoccupation.SelectOccupationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.linkedin.LinkedinActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.jobs.jobposting.JobPostingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.location.withtoolbar.ToolbarLocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.company.selectcompany.withtoolbar.ToolbarCompanyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.jobs.jobposting.jobtype.JobTypeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.jobs.jobposting.sharetogroup.ShareJobGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.skill.jobskills.JobSkillsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.jobs.detail.detail.JobDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.jobs.detail.poster.JobDescriptionPosterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.company.createcompany.CreateCompanyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".features.industry.selectsingleindustry.SelectSingleIndustryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.industry.onboarding.SelectIndustryOnboardingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".features.company.companysize.CompanySizesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.jobs.applicants.JobApplicantsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.selectoccupationofinterests.SelectOOIActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.ethnicity.withtoolbar.ToolbarEthnicityActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.gender.withtoolbar.ToolbarGenderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.agerange.withtoolbar.ToolbarAgeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.chat.recentchats.ChatsActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.chat.newchat.NewChatActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.groupdetail.GroupDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.chat.chat.ChatActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.createeditgroup.step1.CreateEditGroupStep1Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.createeditgroup.step3.CreateEditGroupStep3Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.settings.ProfileSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.editpersonal.PersonalSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.profile.myinterests.InterestsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.chat.newgroupchat.NewGroupChatActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.chat.creategroupchat.CreateGroupChatActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.settings.accountsettings.AccountSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.invitations.contacts.InvitePhoneContactsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.createtopic.CreateTopicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.followedgroups.FollowingGroupsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.groupanswers.AnswerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.loadurl.LoadUrlActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.skill.onboarding.OnboardingSkillActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.uploadresume.UploadResumeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.skill.editskills.EditUserSkillActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.potheruser.OtherUserProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.invitations.users.InviteUsersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.company.mycompanies.MyCompaniesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.divercity.android.features.groups.mygroups.MyGroupsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.company.companydetail.CompanyDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.company.companyadmin.CompanyAdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.singleuseraction.SingleUserActionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.experience.AddWorkExperienceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.company.companyaddadmin.CompanyAddAdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.multipleuseraction.MultipleUserActionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.groups.deletegroupadmin.DeleteGroupAdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.company.deleteadmincompany.DeleteCompanyAdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

    </application>

</manifest>